body {
  background-color: #282c34;
  padding: 20px;
}

.App {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.Screen {
  border: 2px solid rgb(61, 209, 226);
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
  color: #282c34;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 200px;
  background-color: rgb(61, 209, 226);
}

.Screen-Red {
  border: 2px solid rgb(61, 209, 226);
  border-radius: 5px;
  font-size: 60px;
  font-weight: bold;
  color: red;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 200px;
  background-color: rgb(61, 209, 226);
}

.Block {
  border: 2px solid rgb(61, 209, 226);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  width: 200px;
  padding: 20px 0;
}

.Btn {
  background-color: rgb(61, 209, 226);
  color: #282c34;
  border: 2px solid rgb(61, 209, 226);
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.Btn:disabled {
  opacity: 0.5;
}
